
main p{
    display: flex;
    justify-content: center;
}
.select {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.select p{
  background-color: #ebe3db;
  padding:0.3rem 2em;
  font-weight: bold;
  margin-bottom: 2em;
  margin: 10px;
}
.select .red{
  background-color: #950000;
  padding:0.3rem 2em;
  color:white;
}
.container1 {
  background-color: #ebe3db;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 1.5em 8px;
  grid-auto-flow: row;
  padding: 2em 10px;
  grid-template-areas:
    "plat1 plat2"
    "plat4 plat3"
    "plat5 plat6"
    "plat8 plat7"
    "plat9 plat9";
}
.container1 img,.container2 img{

  max-width: 100%;
  max-height: 100%;
  box-shadow: 3px 3px 8px rgba(76,67,67,.5);
  
}
.container2 .asset3, .container2 .cocktail3{
max-width: 50%;
max-height: auto;
margin: 0 auto;
}
.container1 .plat9{
  margin-left: 50%;  
}

.plat1 { grid-area: plat1; }

.plat2 { grid-area: plat2; }

.plat3 { grid-area: plat3; }

.plat4 { grid-area: plat4; }

.plat5 { grid-area: plat5; }

.plat6 { grid-area: plat6; }

.plat7 { grid-area: plat7; }

.plat8 { grid-area: plat8; }

.plat9 { 
  grid-area: plat9;}

.container2 {  display: grid;
  background-color: #ebe3db; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 1.5em 8px;
  padding: 1em 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "asset1 asset2"
    "asset3 asset3";
}
.imagecontainer2 .cover{
  left: 100%;
}
.asset1, .cocktail1 { grid-area: asset1; }

.asset2, .cocktail2 { grid-area: asset2; }

.asset3, .cocktail3 { grid-area: asset3; }
@media screen and (min-width:780px){
  .container1 img, .container2 img{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 3px 3px 8px rgba(76,67,67,.5);
    
  }
  .container1 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5em 8px;
    grid-auto-flow: row;
    padding:1.5rem 0.5rem;
    grid-template-areas:
      "photo1 photo2 photo3"
      "photo4 photo5 photo6"
      "photo7 photo8 photo9";
  }
  
  .plat1 { grid-area: photo1; }
  
  .plat2 { grid-area: photo2; }
  
  .plat3 { grid-area: photo3; }
  
  .plat4 { grid-area: photo4; }
  
  .plat5 { grid-area: photo5; }
  
  .plat6 { grid-area: photo6; }
  
  .plat7 { grid-area: photo7; }
  
  .plat8 { grid-area: photo8; }
  
  .plat9 { grid-area: photo9; }
  
  .container2 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5em 8px;
    padding:1rem 2rem;
    grid-auto-flow: row;
    grid-template-areas:
      "assets1 assets2 assets3";
  }
  
   .cocktail1,.asset1 { grid-area: assets1; }
  
   .cocktail2,.asset2 { grid-area: assets2; }
  
   .cocktail3,.asset3 { grid-area: assets3; }

   .container1 .plat9, .container2 .asset3, .container2 .cocktail3{
    max-width: 100%;
   }
   .container1 .plat9{
    margin-left: 0;  
  }
  .imagecontainer2 .cover{
    left: 50%;
  }
  
}
@media screen and (min-width:1100px){

}
.imagecontainer, .imagecontainer2{
  transition: ease 0.5s;
}
.imagecontainer:hover, .imagecontainer2:hover{
  transform:  scale(1.3);
  z-index: 3;
}
